.jumbotron{
    background-image: url(../images/pexels-photo-1048033.jpeg);
    background-position: no-repeat;
    background-repeat:no-repeat;
    background-size:100% auto;
    color:white;
}